<input 
  id="meu-input" 
  [placeholder]="infos?.placeholder ? infos.placeholder : 'Habilite para digitar'" 
  [type]="infos?.type ? infos.type : 'text'"
  [readonly]="infos?.readonly ? infos.readonly : false"
  [value]="infos.value"
  (input)="atualizarValor($event)"
/>
<br>
<button (click)="habilitou()">Habilitar</button>
<button (click)="desabilitou()">Desabilitar</button>
<button (click)="alertInputText()">Alert</button>
<button (click)="limparInput()">Limpar</button>

<br><br>
<app-button-test></app-button-test>

<br><br>
<app-button-test-colors></app-button-test-colors>